<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mathpresso.togethermju">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.example.temp_user.gcmex1.permission.C2D_MESSAGE" />

    <application
        android:name=".core.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/myongether"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterActivity.EmailRegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity.DetailRegisterActivity" />
        <activity android:name=".RegisterActivity.FavoriteRegisterActivity" />
        <activity android:name=".StartMainActivity" />
        <activity android:name=".NoticeDetailsActivity" />
        <activity android:name=".RegisterActivity.GroupRegisterActivity" />
        <activity
            android:name=".GroupDetailsActivity"
            android:label="@string/title_activity_goup_details"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>