<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mathpresso.togethermju">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.example.temp_user.gcmex1.permission.C2D_MESSAGE" />

    <application
        android:name=".core.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/myongether"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".start.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.MainActivity" />
        <activity android:name=".register.EmailRegisterActivity" />
        <activity android:name=".start.LoginActivity" />
        <activity android:name=".register.DetailRegisterActivity" />
        <activity android:name=".register.FavoriteRegisterActivity" />
        <activity android:name=".start.StartMainActivity" />
        <activity android:name=".notice.NoticeDetailsActivity" />
        <activity android:name=".register.GroupResiterActivity" />
        <activity android:name=".edit.UserEditActivity" />
        <activity android:name=".edit.PasswordEditActivity" />
        <activity android:name=".edit.InterestEditActivity"></activity>
    </application>

</manifest>